#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.number_repres {
  width: 80%;
  display: flex;
}
.number_user {
  width: 80%;
  display: flex;
}
input {
  width: 20%;
}

